.mango{
    background-color: orangered;
}
.banana{
    background-color: yellow;
}
.lemon{
    background-color:yellowgreen;
}
.apple{
    background-color:rosybrown;
}
.quiwi{
    background-color:green;
}